.header{
    --background: #1C426E;
    color:white;
    text-align: right;
}

.center {
    text-align: center;
}
.center ion-button{
    width: 60%;
}
.footer{
    --background: #1C426E;
    color:white;
    text-align: center;
    height: 50px;
}
