<ion-header>
	<ion-toolbar class="header">
		<ion-buttons slot="start">
			<ion-menu-button>
			</ion-menu-button>
		</ion-buttons>
		<ion-title>Події</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="content">
    <div class="objectName">
        <h1><b> {{event.title}} </b></h1>
    </div>
    <img src="{{imgUrl}}" width="100%">
    <div class="objectContent">
        <p>
            <b>Опис</b>
            {{event.desc}}
        </p>
        <p>
            <b>Дата</b>
            {{event.date}}
        </p>
        <p>
            <b>Місце</b>
            {{event.address}}
        </p>
    </div>
    <h3 class="objectContent"><b> Коментарії:</b></h3>
    <form (ngSubmit)="addComment(f)" #f="ngForm">
        <div class="form-group inputForm">
            <input class="form-control" id="content" name="content" ngModel required>
            <button class="btn btn-success ml-2" type="submit" [disabled]="!f.valid">
                <ion-icon name="send"></ion-icon>
            </button>
        </div>
        <br>
    </form>
    <div *ngFor="let comment of comments;index as i">
        <div class="comment commentText">
            <b>{{comment.author.name}}</b>
            <p style="padding-right: 5px;">{{comment.content}}</p>
        </div>
    </div>
    <br><br><br><br>
</ion-content>
